body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M430.47 332.45 a26.26 26.26 0 1 0 52.52 0 a26.26 26.26 0 1 0 -52.52 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M785.86 328.38 a27.47 27.47 0 1 0 54.94 0 a27.47 27.47 0 1 0 -54.94 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M453.31 70.61L479.79 70.61L479.79 97.09L453.31 97.09z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M478.63 378.73a54.52 54.52 0 1 0 108.18-13.7z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M373.73 132.12L410.9 132.12L410.9 203.96L373.73 203.96z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M296.67 233.18L320.14 233.18L320.14 313.17L296.67 313.17z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M40.65 175.1L41.65 175.1L41.65 176.1L40.65 176.1z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1115.31 692.96L1119.34 692.96L1119.34 712.49L1115.31 712.49z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M276.28 236.7a17.85 17.85 0 1 0-17.82-30.93z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M422.95 151.54L460.65 151.54L460.65 189.24L422.95 189.24z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1382.66 319.02 a11.64 11.64 0 1 0 23.28 0 a11.64 11.64 0 1 0 -23.28 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1043.16 521.9L1101.23 521.9L1101.23 579.97L1043.16 579.97z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M380.45 597.65a64.58 64.58 0 1 0-120.23-47.19z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M265.72 432.32L332.67 432.32L332.67 499.27L265.72 499.27z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M674.5 509.47a33.94 33.94 0 1 0-12.68-66.68z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M54.63 338.61a62.69 62.69 0 1 0 15.83 124.38z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1036.85 660.63L1050.13 660.63L1050.13 736.59L1036.85 736.59z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M300.01 226.18a1.92 1.92 0 1 0 3.82-0.36z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M579.52 9.12 a44.31 44.31 0 1 0 88.62 0 a44.31 44.31 0 1 0 -88.62 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1090.46 475.96 a77.45 77.45 0 1 0 154.9 0 a77.45 77.45 0 1 0 -154.9 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M855.61 446.58a35.06 35.06 0 1 0-48.79-50.36z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M9.34 511.44L12.92 511.44L12.92 515.02L9.34 515.02z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M836.57 222L872.92 222L872.92 258.35L836.57 258.35z' stroke='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder {
  width: 100%;
  background: #fff;
  margin: 30px auto;
  position: relative;
}


.stopwatch {
  padding: 60px 0px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='600' height='262' preserveAspectRatio='none' viewBox='0 0 600 262'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1103%26quot%3b)' fill='none'%3e%3crect width='600' height='262' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='9.96' cx='294.67' cy='129.09' fill='url(%23SvgjsLinearGradient1104)'%3e%3c/circle%3e%3ccircle r='22.65' cx='515.93' cy='201.53' fill='url(%23SvgjsLinearGradient1105)'%3e%3c/circle%3e%3ccircle r='18.105' cx='28.97' cy='38.41' fill='url(%23SvgjsLinearGradient1106)'%3e%3c/circle%3e%3ccircle r='9.555' cx='404.4' cy='192.74' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='8.175' cx='205.74' cy='210.9' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='14.48' cx='319.88' cy='59.81' fill='url(%23SvgjsLinearGradient1107)'%3e%3c/circle%3e%3ccircle r='9.45' cx='411.11' cy='120.88' fill='url(%23SvgjsLinearGradient1108)'%3e%3c/circle%3e%3ccircle r='15.405' cx='4.88' cy='91.37' fill='url(%23SvgjsLinearGradient1109)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1103'%3e%3crect width='600' height='262' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='274.75' y1='129.09' x2='314.59000000000003' y2='129.09' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1104'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='470.62999999999994' y1='201.53000000000003' x2='561.2299999999999' y2='201.53000000000003' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1105'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-7.240000000000002' y1='38.41' x2='65.18' y2='38.41' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1106'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='290.92' y1='59.81' x2='348.84000000000003' y2='59.81' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1107'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='392.21000000000004' y1='120.88' x2='430.01000000000005' y2='120.88' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1108'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-25.93' y1='91.37' x2='35.69' y2='91.37' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1109'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.stopwatch span{
  background:#00ABA9;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red{
  border: 2px solid #C85454;
  color: #C85454;
}
.stopwatch .stopwatch-btn-yel{
  border: 2px solid #FFC900;
  color: #FFC900;
}

.stopwatch .stopwatch-btn-gre{
  border: 2px solid #00ABA9;
  color: #00ABA9;
}
.stopwatch .stopwatch-btn-red:hover {
  background: #C85454;
  border: 2px solid #C85454;
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: #FFC900;
  border: 2px solid #FFC900;
  color: #fff;
}
.stopwatch .stopwatch-btn-gre:hover {
  background: #00ABA9;
  border: 2px solid #00ABA9;
  color: #fff;
}

